

.icon-search1:before {
  content: "\e82e";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-huojian:before {
  content: "\e61a";
}

.icon-icon-test:before {
  content: "\e633";
}

.icon-huojian1:before {
  content: "\e6ab";
}

.icon-huojian2:before {
  content: "\e6c0";
}

